NODE_ENV=<your-environment>

NUXT_PUBLIC_SITE_URL=<your_site_url>

GITHUB_CLIENT_ID=<your_github_oauth_client_id>
GITHUB_CLIENT_SECRET=<your_github_oauth_client_secret>

AUTH_SECRET=<your_auth_secret>
AUTH_ORIGIN=<your_site_origin>
